body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.star {
  position: absolute;
  font-size: 3em;

}

.star::before,
.star::after {
  top: 0;
  left: 0;
  content: "\2726";
  position: absolute;
  transform: translate(-50%, -50%);
  animation-name: twinkle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.star::before {
  color: #2d4d81;
  font-size: 1.5em;
  filter: blur(2px) drop-shadow(0 0 6px currentColor);
}

.star::after {
  color: #7d9dd1;
  font-size: .6em;
  transform: translate(-50%, -45%);
  filter: blur(1px);
}


@keyframes twinkle {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }


  100% {
    opacity: 0;
  }
}